#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}
.nav {
    position: relative;
    background-color: silver;
    height: auto;
    padding-top: 3px;
    padding-bottom: 3px;
}
.nav .menu {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    font-size: 130%;
}
a.menunav:link,a.menunav:active,a.menunav:visited {
    color:#fff;
    text-decoration: none;
}
a.menunav:hover {
    color: skyblue;
    text-decoration: none;
}
body {
   /* background-color: darkgray;*/
    font-size: large;
    background-image: url(../images/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
textarea {
  margin-left: auto;
  margin-right: auto;
}
.footer {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 35px 0 35px 0;
    text-align: center;
    clear: both;
    background: snow;
    font-family: 'Times New Roman', Times, serif;
}

.nav {
  overflow: hidden;
  background-color: darkred;
  position: fixed;
  top: 0; 
  width: 100%; 
}
.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.nav a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}